<h1 class="jumbotron">CONTACT US</h1>
<h3>Questions?</h3>
<p>
  Adulation, objections, questions, and other:
</p>
<h3>Submissions</h3>
<p>
  Our editors welcome your submissions and pitches -- but please keep it under 2,000 words. Before sending, see our pitch guidelines here. If we like what we see, we'll be in touch!
</p>
<h3>Jobs</h3>
<p>
  We're looking for dynamic writers and colleagues to help fill our channels with thoughtful, intelligent content, and build our team. To apply, please visit our jobs page:
</p>
<h3>Tech Support</h3>
<p>
  Spotted a problem? Or just confused? If you have technical issues using the Bustle website or app, let us know:
</p>
<h3>Advertising</h3>
<p>
  High-impact and cross-platform. For advertising inquiries and brand services please visit our advertising page:
</p>
<h3>Snail Mail</h3>
<p>
  400 SW 6th Ave, Portland, OR 97201
</p>
