<h1>Faux Bustle and Better!</h1>

<h1>Books you have never heard of but should!</h1>
<ul>
  {{#each model as |blog|}}
    {{book-blog-tile blog=blog}}
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
